ApiConsulTest/ApiConsulTest2/obj/
ApiConsulTest/ApiConsulTest2/bin/
ApiConsulTest/ApiConsulTest/obj/
ApiConsulTest/ApiConsulTest/bin/
ApiConsulTest/.vs/
ApiConsulTest/ApiConsulGateway/bin/
ApiConsulTest/ApiConsulGateway/obj/
