@{
    ViewData["Title"] = "Home Page";
}


@*<button class="btn btn-primary" onclick="post()" name="button">Send Verification Phone Code</button>*@

<br />
<br />
<div>
    <div>

        <div class="text-center" ng-controller="personController">
            <div>
                <label>Name:</label>
                <input type="text" ng-model="yourName" placeholder="Enter a name here">
                <hr>
                <h1>Send {{yourName}}!</h1>
            </div>
            <button ng-click="myFunction()">send</button>
        </div>
        <br />
        <b>----------------------------</b>
        <br />
        <div class="text-center" ng-controller="itemController">
            <div>
                <label>Name:</label>
                <input type="text" ng-model="yourName" placeholder="Enter a name here">
                <hr>
                <h1>Received {{yourName}}!</h1>
            </div>
            <button ng-click="myFunction()">get</button>
        </div>

    </div>




</div>


<script>

    app.controller("personController", function ($scope, $http, MyService2, MyService, SomeService) {
        $scope.yourName = "abc1";
        //$http.get('data/data.json').then(function (prd) {
        //    $scope.prd = prd.data;
        //});
        $scope.myFunction = function () {
            SomeService.someFunction();
            MyService2.setValue($scope.yourName);
        };
    });


    app.controller("itemController", function ($scope, $http, MyService2, MyService, SomeService1) {
        $scope.yourName = "def2";
        //$http.get('data/data.json').then(function (prd) {
        //    $scope.prd = prd.data;
        //});
        $scope.myFunction = function () {
            SomeService1.someFunction();
            $scope.yourName = MyService2.getValue();
        };
    });

@*
    console.log("test")
    function post() {
        $.ajax({
            type: "POST",
            url: "/ABC/SendPhoneVerificationCode",
            success: function (data) {
                window.location.href = "/ABC/ConfirmPhoneNumber"
            }
        })
    }*@

</script> 